/* Variables */
:root {
    --primary-color: #F9A826;
    --secondary-color: #585577;
    --light-color: #F5F5F5;
    --dark-color: #262534;
}

/* General */
* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--primary-color);
    color: var(--dark-color); 
    font-size: 1rem; 
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: .5rem 0;   
    transition: .5s;
    cursor: pointer;
}

button:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
}

/* Main */
.main {
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    padding: .5rem; 
}

.main-image {
    order: 2;
}
  
.main-image img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: -8px;
}
 
.main-text {
    width: 100%;
    text-align: center;
    order: 1;
}

.main-text h1 {
    color: var(--dark-color);
    font-weight: 700;
    margin: 0 0 1rem;
}

.main-text p {
    color: var(--secondary-color);
    text-align: justify;
    margin: 0 0 1rem;
}

.main-button {
    width: 100%;
    margin: 1rem 0 2rem;
}

/* Modal */
.modal::backdrop {
    background-color: rgb(0 0 0 / .5);
}

.modal {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1em rgb(0 0 0 / .5);
    width: 80%;
}

.modal h3 {
    color: var(--dark-color);
    font-weight: 700;
    text-align: center;
    margin: 0 0 1.5rem;
}

.modal-inputs {
    display: flex;
    flex-direction: column;
}

.modal label {
    color: var(--secondary-color);
    font-size: .9rem;
}

.modal input {
    background-color: transparent;
    color: var(--dark-color);
    font-size: .8rem;  
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    height: 36px;
    padding-left: .5rem;
    margin-bottom: .5rem;
    outline: none;
}

.modal input::placeholder {
    color: var(--secondary-color);
}

.modal input:focus {
    border-color: var(--primary-color);
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem;
}

.modal-buttons button {
    width: 120px;
}

.modal-button-close {
    margin-left: 1rem;
}

/* Responsive */
@media (min-width: 768px) {
    /* Main */
    .main { 
        flex-direction: row;
        border-radius: 5px;
        margin: 1rem;
    }

    .main-image {
        width: 50%;
        order: 1;
    }

    .main-text {
        width: 50%;
        order: 2;
        margin-left: 1rem;
    } 

    .main-button {
        margin: 1rem 0 0;
    }
}

@media (min-width: 1024px) {
    /* Main */
    .main {  
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 85vh;
        margin: 2rem auto;
        padding: 1rem;
    }

    .main-image img {
        width: 80%;
        height: 80%;
        margin-bottom: 0;
    }

    .main-text {
        margin-left: 0;
    } 

    /* Modal */
    .modal {
        width: 50%;
    }
}